
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

#root{
  min-height: auto;
  background: blue;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, auto);
}

.navBar{
  grid-column: 1/-1;
  grid-column: 1;
  background: #f6f9fc;
  color : #008000;
  position:fixed;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(128, 128, 128, 0.5);
  z-index: 10;
}

/*-------------------------header---------------------------*/

.navigation{
  margin-right: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: flex-start;
  float: right;
}
.navigation ul li{
  list-style: none;
  margin: 15px;
  font-weight: 600;
}

.author-block{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.author-block i{
  font-size: 25px;
  margin-left: 10px;
}

/*.avatar{
  overflow:hidden;
  -webkit-border-radius:50;
  -moz-border-radius:50px;
  border-radius:50px;
  width: 75px;
  height: 75px;
}*/

.avatar{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.logo{
  margin-left: 40px;
  font-size: 23px;
  font-weight: 700;
}

.active{
  padding-bottom: 7px;
  border-bottom: 3px solid #529330;
}

.nav-item{
  padding: 7px 12px;
  border-radius: 3px;
}

.nav-item:hover{
  background: #90cf6e;
  transform: .5s;
}

.checkBtn{
  font-size: 35px;
  color: #529330;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;

}

/*-------------------------aside---------------------------*/
.asideBar{
  grid-column: span 2;
  grid-row: 2;
  margin-top: 80px;
  background: #DADEDF;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
}

.suggestions{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
}

/*.contact-container{
  height: 800px;
  overflow: scroll;
}*/

.contact{
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px 0;
}

.name{
  padding-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
}

.pseudo{
  padding-top: 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.6);
}

.contact button{
  width: 35%;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  border-width: 0;
  outline: 0;
  background: rgba(0, 128, 0, 0.9);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

/*-------------------------main-content---------------------------*/

.main-content{
  grid-column: span 5;
  grid-row: 2;
  margin-top: 80px;
  background: #DADEDF;
  min-height: 900px;
  height: auto;
}

.publication-filter-block{
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DADEDF;
}

.publication-filter-block div:first-child{
  width: 50%;
  margin-left: 20px;
}

.publication-filter-block div:last-child{
  width: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.search{
  width: 100%;
  height: 45px;
  background: white;
  border-width: 0;
  outline: 0;
  font-size: 17px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: gray;
  font-weight: 600;
  padding: 4px 7px;
  transition: transform .3s;
}

.fil{
  margin-right: 15px;
  font-size: 17px;
  font-weight: 600;
}

.filter{
  width: 50%;
  height: 30px;
  padding: 4px;
  border: 0;
  background: #F7F7F7;
  border-radius: 4px;
  color: gray;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  outline: 0;
}

.search:focus{
  transform: scale(1.03);
}

.current-pub{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

textarea[name="text-to-pub"]{
  width: 38%;
  height: 85%;
  max-width: 380px;
  max-height: 200px;
  padding: 8px;
  border-width: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  background: white;
  color: gray;
  transition: transform 0.3s;
}

textarea[name="text-to-pub"]:focus{
  border-width: 0;
  outline: 0;
  transform: scale(1.03);
}

input[value="publier"]{
  width: 70px;
  height: 35px;
  padding: 5px;
  margin-right: 40px;
  background: #529330;
  color: white;
  border-radius: 5px;
  border-width: 0;
  outline: 0;
  cursor: pointer;
}

.publication-container{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.publication-item{
  background: white;
  width: 95%;
  min-height: 220px;
  height: auto;
  margin: 20px 0;
  box-shadow: 0px 0px 15px rgba(49, 49, 49, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.publication-item aside{
  padding: 20px 10px 0 15px;
}
.publication-item section{
  width: 90%;
  height: 100%;
  padding: 20px 10px 0 10px;
}

.pub-head{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 17%;
}

.pub-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  height: 73%;
  text-align: justify;
  word-wrap: break-word;
}

.publication-info{
  width: 50%;
  display: flex;
  font-display: row;
  justify-content: flex-start;
  padding-top: 12px;
}

.publication-info li{
  list-style: none;
  padding: 5px 0;
  margin: 0 20px;
  font-size: 20px;
}


/*-------------------------footer---------------------------*/

.footBar{
  grid-column: 1/-1;
  grid-row: 3;
  background: #13142F;
  width: 100%;
  min-height: 85px;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*----------------------------------------------------MEDIA QUERY-------------------------------------------*/

@media screen and (max-width : 1132px){
  .asideBar .avatar{
    width: 52px;
    height: 52px;
  }

  .contact *{
    font-size: 14px;
  }

  .contact button{
    font-size: 14px;
    padding: 2px;
  }

  .suggestions{font-size: 17px;}

  .publication-info li{
    font-size: 18px;
    margin: 0 10px 8px 10px;
  }
}

@media screen and (max-width : 752px){
  #root{
    grid-template-rows: repeat(4, auto);
  }

.avatar{
    width: 60px;
    height: 60px;
  }

  .checkBtn{
    display: block;
    padding-left: 20px;
  }

  .navigation{
    margin-right: 12px;
  }

  .logo{
    margin-left: 15px;
  }

  .navigation ul{
    position: fixed;
    top: 65px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: #529330;
    color: white;
    margin-left: 0;
    flex-direction: column;
    text-align: center;
    transition: all .5s;
  }

  .navigation ul li{
    margin: 20px 0;
    font-size: 20px;
  }

  .asideBar{
    grid-column: 1/-1;
    grid-row: 3;
    margin-top: 0;
  }

  .main-content{
    grid-column: 1/-1;
    grid-row: 2;
  }

  .footBar{grid-row: 4;}
  .publication-container{
    padding: 0 15px;
  }

  .publication-item section {
    padding: 15px 25px 0 0;
  }

  .publication-info li{
    font-size: 15px;
    margin: 0 10px 8px 10px;
  }

  .publication-item aside {
    padding: 8px 7px 0 5px;
  }

  .current-pub label{
    display: none;
  }


  textarea[name="text-to-pub"]{
    width: 70%;
  }

  input[value="publier"] {
    margin-right: 0;
  }
}

.loadPostSpinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadPostSpinner{
  color: rgba(0, 128, 0, 0.9);
}

.errorMessage{
  color: red;
  text-align: center !important;
}